name: Update Language Stats
on:
  schedule: [{cron: "0 0 * * *"}] # 每天更新一次
  workflow_dispatch:               # 手動觸發
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          # 圖片存檔位置
          filename: assets/languages.svg
          
          # 只要語言統計，不要基本資料 (base: "")
          base: ""
          
          # 啟用語言插件
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
            gnuplot
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: lines, percentage
          plugin_languages_indepth: yes
